:root {
    --main-color: black;
    --secondary-color: hsl(0, 84%, 44%);
    --third-color: gray;
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
    --gap: 25px;
    

}
html{
    scroll-padding: 60px ;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    gap: var(--gap);
    color: var(--main-color);
}

/* NavBar code */
nav {
    position: fixed;
    width: 100%;
    padding-block: 10px;
    background-color: white;
    z-index: 999;
    height: auto;
}

nav .nav-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: flex-start;
}



h1 {
    color: var(--main-color);
    font-size: 32px;
}

h1::after, footer h2::after {
    content: ".";
    font-weight: bold;
    color: var(--secondary-color);
    padding: 1px;
}

.nav-links {
    order: 1;
}

.nav-links ul {
    width: 2rem;
    height: 1rem;
    flex-direction: column;

}

.nav-links ul #btn {
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}

.nav-links ul #btn::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav-links li {
    display: none;
}

.nav-links ul:hover li {
    display: flex;
}

.nav-links ul:hover {
    flex-direction: column;
    height: 30vh;
}

.nav-links a {
    color: var(--third-color);
    font-size: 24px;
    transition: all linear 0.3s;

}

.nav-links li {
    position: relative;
}

.nav-links a::before {
    content: "";
    display: inline-block;
    width: 0;
    background-color: var(--secondary-color);
    height: 2px;
    position: absolute;
    top: 100%;
    transition: width 0.5s ease-in-out;
}

.nav-links a:hover {
    color: var(--main-color);
}

.nav-links a:hover::before {
    width: 100%;
}

body:not(body:has(:target)) li a[href="#home"],
 body:has(.home:target) li a[href="#home"],
  body:has(.contact:target) li a[href="#contact"],
   body:has(.gallery:target) li a[href="#gallery"],
    body:has(.chefs:target) li a[href="#chefs"] {
    color: #000;
}
body:not(body:has(:target)) li a[href="#home"]::before,
 body:has(.home:target) li a[href="#home"]::before,
  body:has(.contact:target) li a[href="#contact"]::before,
   body:has(.gallery:target) li a[href="#gallery"]::before,
    body:has(.chefs:target) li a[href="#chefs"]::before {
    width: 100%;
}

.nav-links a.current {
    color: var(--main-color);
}

.nav-links a.current::before {
    width: 100%;
}

.nav-container button {
    padding: 5px;
    background-color: white;
    border: none;
    font-size: 24px;
}

/* NavBar END */

/* Home Header */
.home {
    width: 100%;
    padding-block: 100px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
}

.home-container {
    display: flex;
    width: 100%;
}

.home-container>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* right image */
.home-img-container {
    width: 80%;
}

.home-img img {
    width: 100%;
    filter: drop-shadow(0px 3px 8px #000);
    /* box-shadow: 5px 5px 5px 5px; */
}

.home-img img:hover {
    animation: shake infinite 1s linear;
}

/* text on the left */

.home-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.home-content h2 {
    font-family: var(--font-primary);
    font-size: 4rem;
}

.home-content p {
    line-height: 1.6;
    font-size: 1rem;
    color: rgb(79, 79, 90);
    margin-block: 20px;
}

/* video and book a table button */
.btn-group {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.btn-group .book-btn {
    background-color: var(--secondary-color);
    color: white;
    padding: 20px;
    border-radius: 0 50% 50% 20px;
}

.btn-group .video-btn {
    display: flex;
    align-items: center;
    color: black;
}

.btn-group .video-btn:hover {
    color: var(--secondary-color);
    transition: all ease-in-out 0.2s;
}

.video-btn .icon {
    background: linear-gradient(to right, var(--secondary-color) 0 50%, transparent 50% 100%);

    width: 3.4375rem;
    height: 3.4375rem;
    font-size: 1rem;
    margin-right: 0.3125rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icon::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.icon i {
    z-index: 1;
}

/* Home header END */
/* general rules for main content */
main, section {
    padding-block: 20px;
}

section>.content-space {
    width: 90%;
    margin: auto;
}
.heading {
    text-align: center;
}

.heading h2 {
    color: var(--third-color);
}

.heading p {
    font-family: var(--font-primary);
    font-size: 3.125rem;
}

.heading span {
    color: var(--secondary-color);
}
/* general rules END */
/* CHEFS section */


.chef-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    padding-block: 20px;
}

.chef-intro {
    padding-block: 10px;
    border-radius: 30px 30px 3px 3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    transition: ease-in-out 1s;
    box-shadow: 0px 1px 9px 0px gray;
}

.chef-img img {
    width: 100%;
}

.chef-social {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.chef-intro:hover {
    transform: scale(1.07);
}

.chef-img {
    position: relative;
    overflow: hidden;
}

.chef-intro .chef-social {
    position: absolute;
    top: 5%;
    left: 100%;
    background-color: gainsboro;
    border-radius: 10px;
    padding: 20px;
    transition: ease-in-out 1s 1s;
    opacity: 0.5;
}

.chef-intro:hover .chef-social {
    transform: translateX(-110%);
}

.chef-social i {
    opacity: 0.5;
    transition: ease-in-out 0.3s;
}

.chef-social i:hover {
    color: var(--main-color);
    transform: scale(1.2);
    opacity: 1;
}

.chef-about {
    text-align: center;
}

.chef-about h3 {
    font-family: var(--font-secondary);
    font-size: 23px;
}

/* CHEF secttion END */
/* gallery section */
.gallery {
    background-color: #f1f1f1;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 90%;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1.25rem;
    height: auto;
    overflow: hidden;
}

/* .gallery-container > div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: flex-start;
} */
.gallery-img {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.fried {
    order: 1;
}

.gallery-img img {
    width: 100%;
    display: block;
    border: white 4px solid;
    transition: all ease-in-out 0.3s;

}

.gallery-img .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    inset: 0;
    transform: translateY(100%);
    transition: 0.3s ease-in-out all;
}

.overlay h3 {
    font-size: 24px;
}

.overlay p {
    font-size: 19px;
}

.gallery-img:hover img {
    transform: scale(1.2);
}

.gallery-img:hover .overlay {
    transform: translateY(0);
}

/* gallery section END */
/* Contact section */
.map-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.map-container iframe {
    width: 100%;
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    line-height: 1.3;
    padding-block: 20px;
    justify-content: space-between;
}

.contact-details>div {
    background-color: #f1f1f1;
    display: flex;
    padding: 20px;
    gap: 10px;
    align-items: center;
}

.contact-details h3 {
    color: #7d7d7d;
    font-size: 24px;
}

.contact-details p {
    font-size: 18px;
}

.contact-icon i {
    padding: 10px;
    font-size: 24px;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: space-between;

}

form * {
    padding: 20px;
    font-size: 20px;
    line-height: 1.5;
    border: 1px solid #b5b5b5;
}

textarea {
    min-height: 9.375rem;
    max-height: 18.75rem;
    resize: vertical;
}

#submit {
    background-color: var(--secondary-color);
    margin: auto;
    color: white;
    border-radius: 12321312px;
}

/* contact END */
/* footer start */
footer {
    background-color: black;
    padding-block: var(--gap);
}

footer h2 {
    font-size: 32px;
}

footer h3 {
    font-size: 24px;
}

footer p {
    width: 90%;
    font-size: 20px;
}

/* footer span{
    font-size: 20px;
} */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
    gap: var(--gap);
}

.footer-container>div {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.footer-container>div * {
    color: white;
}

.about, .contacts {
    flex: 1;
}

.subscription {
    flex: 2;
}

/* --------about------------ */
.footer-logo {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.footer-logo img {
    width: 3.5rem;
}

.about {
    padding-right: 10px;
}

.about h3 {
    text-align: center;

    width: 90%;

}

.about ul {
    justify-content: space-between;
    font-size: 24px;
    border-top: 1px var(--third-color) solid;
    padding-block: 20px;
}

/* ------contacts---------------- */
.contacts {
    padding-left: 20px;
}

.contacts ul {
    flex-direction: column;
}

.contacts li {
    display: flex;
}

.contacts i {
    color: red;
    margin-right: 10px;
    font-size: 24px;
}

/*-------- subscription----------- */
.subscription {
    padding-left: 10px;
    order: 1;
}

.subscriper {
    display: flex;
    padding-block: 20px;
}

.subscriper input {
    flex: 1;
    padding: 15px;
    margin-right: 5px;
}

.subscriper button {
    padding: 20px;
    color: white;
    background-color: var(--secondary-color);
}

.quick-links ul {
    flex-wrap: wrap;
    padding-block: 20px;
    gap: 0;
    justify-content: space-between;
}

.quick-links li {
    width: 50%;
    padding: 5px;
    transition: 0.5s all ease-in-out;

}

.quick-links li::before {
    content: "\f105";
    /* Unicode for the right arrow */
    font-family: "Font Awesome 6 Free";
    /* Correct Font Family */
    font-weight: 900;

    margin: 5px;
}

.quick-links li:hover {
    transform: translateX(10px);
    background-color: #222;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}